@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-5">
    <h1 class="display-4">Welcome @if (User.Identity.IsAuthenticated)@User.Identity.Name</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Note" asp-action="Index">All Note</a> <br />
        <a asp-controller="Note" asp-action="Create">Create Note</a>
    }
    else
    {
       <span>Don't have an account? <a asp-controller="Account" asp-action="Register">Create</a></span> <br />
       <span>Already have an account? <a asp-controller="Account" asp-action="Login">Login</a></span> 
    }
  
</div>
